body{
    max-height: 100vh;
    max-width: 100%;
}

.header {
    margin: 0 auto;
    padding: 50px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container .logo{
    font-size: 2.5em;
}

.header-container .logo h1{
    color: #D2872C;
}

.header-container nav ul{
    display: flex;
}

.header-container nav ul li{
    margin-left: 15px;
}

.header-container nav ul li a{
    font-size: 2em;
    color: #766F68;
    padding: 15px;
    transition: 0.4s;
}

.header-container nav ul li a:hover{
    color: #ffffff;
    background-color: #D2872C;
    border-radius: 20px;
}

/* HERO */
.hero-container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container .hero-text {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.hero-container .hero-text h2{
    max-width: fit-content;
    font-size: 4em;
    color: #766F68;
}

.hero-container .hero-text p{
    font-size: 2em;
    color: #766F68;
}

.hero-container .hero-text a{
    width: 200px;
    text-align: center;
    font-size: 2em;
    margin-top: 50px;
    font-size: 2.5em;
    font-weight: 700;
    color: #ffffff;
    background-color: #D2872C;
    padding: 20px;
    border-radius: 20px;
    transition: 0.4s;
}

.hero-container .hero-text a:hover{
    opacity: 0.8;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.hero-container .hero-image img {
    width: 600px;
    max-width: 100%;
}